* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    display: flex;
    justify-content: center;
}

p {
    font-size: 14px;
    color: aliceblue;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 8px;
    margin-bottom: 8px;
}

.text-body {
    color: rgb(189, 189, 190);
    font-size: 16px;
    text-align: justify;
}

#content {
    max-width: 980px;
    background: #000c47;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(2, 19, 103, 0.3);
    padding: 16px;

}

#main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 1.5rem;

    /* From https://css.glass */
    background: rgba(109, 47, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border: 1px solid rgba(47, 210, 255, 0.46);
}
.list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 16px;
}

.list-item{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#contact {
    display: flex;
    flex-direction: row;
    gap: 8px;

}

.contact-item {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    padding: 4px;
    background: rgba(255, 255, 255, 0.51);
    border-radius: 4px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

#photo {
    width: 160px;
    border-radius: 8px;
}

#btn-close {
    padding: 4px;
    border-radius: 4px;
    background-color: rgb(0, 145, 255);
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;
}

#btn-close:hover {
    background-color: rgba(0, 145, 255, 0.746);
    transform: scale(1.01)
}

#name {
    font-size: 2rem;
    color: #e732ff;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content-section-4>p {
    text-justify: center;
}



#conteiner-setion-4 {
    display: flex;
    gap: 16px;
}

.content-section-4 {
    flex: 1;
}

.hidden {
    display: none;
}

#footer{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}